fastapi
uvicorn[standard]
python-multipart
motor
sentence-transformers
torch
PyPDF2
python-docx
spacy==3.7.2
numpy
pdfplumber
keybert
en-core-web-sm @
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz 